## .NET
bin/
obj/
publish/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe
*.log

## Installer ve setup istisna
!installer/
!installer/**
!setup/*.ico

## Release klasörü istisna (güncelleme dosyaları)
!release/
!release/**

## IDE
.vs/
.vscode/
*.csproj.user

## OS
Thumbs.db
Desktop.ini
.DS_Store

## SQLite database files
*.db
*.sqlite

## Gemini
.gemini/
